/* this is the style for the login button */
.button--login {
    height: 4rem !important;
    width: 8rem !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    background-color: inherit !important;
    border: 0 !important;
    background-color: #e74c3c !important;
}
